<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <label>
    Name: <%= text_input f, :name %>
    <%= error_tag f, :name %>
  </label>


  <label>
    todoist key: <%= text_input f, :todoist_key %>
    <%= error_tag f, :todoist_key %>
  </label>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
