<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Token</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.name %></td>
      <td><pre><%= user.authentication_token %></pre></td>
      <td>
        <span><%= link "Show", to: Routes.admin_user_path(@conn, :show, user) %></span>
        <span><%= link "Edit", to: Routes.admin_user_path(@conn, :edit, user) %></span>
        <span><%= link "Delete", to: Routes.admin_user_path(@conn, :delete, user), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New User", to: Routes.admin_user_path(@conn, :new) %></span>
