<h1><%= @user.name %></h1>

<h3>Token</h3>
<pre><%= @user.authentication_token %></pre>
<h3>Todoist key</h3>
<pre><%= @user.todoist_key %></pre>

<span><%= link "Edit", to: Routes.admin_user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: Routes.admin_user_path(@conn, :index) %></span>
